@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}

section {
  padding: 65px 0px;
}

.heading {
  font-size: 48px;
}

.header {
  background: linear-gradient(135deg, #1e90ff, #87ceeb, #ffffff);
}

.btn-blue{
  background: #1e90ff !important;
  transition: all 0.4s ease-in-out;
  color: #fff !important;
}

.btn-blue:hover{
  background: #1583b3 !important;
  color: #fff !important;
}

#top-header {
  padding: 10px 0px;
}

#top-header p {
  text-align: right;
  margin-bottom: 0px;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#hero input, #hero .btn{
  font-size: 18px;
}

#packages .card {
  height: 100%;
}

#packages .card ul {
  text-align: left;
}

#packages .card ul li {
  border: none;
}

#packages p span {
  font-size: 40px;
  font-weight: bold;
}

#chat p span {
  font-size: 56px;
}

#footer-links{
  padding: 50px 0px 25px;
 background: linear-gradient(135deg, #1e90ff, #87ceeb, #ffffff);;
  color: #fff;
}

#footer-links ul{
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;

  padding: 0px;
}

#footer-links ul li a{
  color: #fff;
  font-size: 20px;
}

#main-footer{
 background: linear-gradient(135deg, #1e90ff, #87ceeb, #ffffff);;
  color: #fff;
  padding: 20px 0px;
}

@media screen and (max-width: 765px){
  section{
    padding: 10px 0px;
  }

  #hero {
    height: 100%;
    padding: 75px 0px;
  }

  #services{
    padding: 30px 0px;
  }

  #hero .col-12{
    margin-bottom: 2.5rem;
  }

  #packages .col-12{
    margin-bottom: 2.5rem;
  }

  #chat .col-12{
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 996px) {
  section{
    padding: 10px 0px;
  }

  #hero {
    height: 100%;
    padding: 75px 0px;
  }

  #services{
    padding: 30px 0px;
  }

  #hero .col-12{
    margin-bottom: 2.5rem;
  }

  #packages .col-12{
    margin-bottom: 2.5rem;
  }

  #packages .col-12 ul li{
    text-align: center;
  }

  #chat .col-12{
    margin-bottom: 2.5rem;
  }

  #footer-links .footer-links-container .col-12{
    margin-bottom: .75rem;
  }
}